body{
        
        background: url("..\\img\\wall5.jpg") no-repeat center center fixed ; 
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       font-family: 'Ubuntu', sans-serif;
}

.button1 {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #C38D9E,#41B3A3);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

.main {
    background-color: rgb(255, 255, 255,0.8);
    width: 40%;
    height: 115%;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.register_main {
    background-color: #FFFFFF;
    align-items: center;
    width: 400px;
    height: 800px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.main1 {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    align-self: inherit;
    padding-top: 40px;
    color: #dd7c3c;
    opacity: 0.9;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 27px;
}

.un {
width: 76%;
color: #C38D9E;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
align-items: center;
margin-bottom: 27px;
margin-left: 12%;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
width: 76%;
color: #C38D9E;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;

text-align: center;
margin-left: 12%;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}
::placeholder{
    color: #009999 !important;
}
.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #C38D9E,#41B3A3);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 39%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.submit:hover{
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.04);
}

#phoneText{
    color: #E8A87C;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.checkboxDiv{
    position: relative;
    margin-left: 40%;
    margin-bottom: 3%;
    margin-top: -2%;
   
}
#checkboxText{

    color: #E8A87C;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;

}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E8A87C;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E8A87C;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}